body{
    background-image: linear-gradient(to top, #5f72bd 0%, #9b23ea 100%);
}
h1{
    margin: 50px !important;
    background-color: aliceblue;
    padding: 10px;
    border-radius: 5px;
    font-weight: bolder !important;
}
img{
    height: 500px;
    border-radius: 10px;
}